{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-space-before-closing": 2
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}