body {
  background-color: #bbb;
}

#header {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.muscleGroupBtnDiv {
  margin-top: 25px;
}

.exercise-name-box {
  margin-top: 10px;
}

.exercise {
  color: #ddd;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.formButton {
  height: 40px;
  line-height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: #999;
  display: inline-block;
  text-align: center;
}

.formButton.select {
  width: 70px;
}

.chooseValueSectionDiv {
  clear: both;
}

.mgBtn {
  height: 50px;
}

.exercise.zero {
  background-color: rgb(51,122,183);
}

.selected {
  background-color: rgb(92,192,222);  
}

.exercise.one {
  background-color: rgb(92,184,92);
}

.exercise.two {
  background-color: rgb(92,192,222);
}

.hide {
  display: none
}

.numberBoxText {
  color: #1c3366;
  font-weight: bold;
  font-size: 18px;
}

.withfade {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.4;
}

.withfade:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.add-btn {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.add-btn span {
  /*background-image: url('http://thread.qburst.com/sites/all/themes/thread/images/Add.png');*/
  background-image: url("http://192.168.0.22:8000/static/Add.png");
  z-index: 100;
  display: inline-block;
  width: 78px;
  height: 78px;
}

@media only screen and (max-width: 767px) {
  .add-btn {
    right: 7px;
    bottom: 5px;
  }
}

